body {
    font-family: 'Courier New', Courier, monospace; /* Шрифт текста страницы (моноширный стиль для визуального эффекта). */
    margin: 0; /* Убирает отступы по краям страницы. */
    padding: 0; /* Убирает внутренние отступы у тега body. */
    background-color: #1A1A1A; /* Устанавливает тёмный фон страницы. */
    color: #F2F2F2; /* Устанавливает светлый цвет текста для контраста с фоном. */
    overflow-y: scroll; /* Говорит браузеру всегда показывать вертикальный скролл. */
}
html {
    scroll-behavior: smooth; /* Делает переходы при прокрутке плавными, например, при использовании якорных ссылок. */
}
.contacts-link,
.home-link {
    position: fixed; /* Фиксирует ссылки в одном положении экрана, даже при прокрутке. */
    top: 10px; /* Отступ сверху до ссылки составляет 10px. */
    color: #F2F2F2; /* Белый цвет текста ссылок. */
    text-decoration: none; /* Убирает стандартное подчёркивание ссылок. */
    font-weight: bold; /* Делает текст ссылок жирным. */
    z-index: 10; /* Устанавливает высокий слой для обеспечения видимости над остальным контентом. */
}

.contacts-link {
    right: 10px;
}

.home-link {
    right: 100px;
}

main {
    display: flex; /* Использует флексбокс для выравнивания. */
    align-items: center; /* Вертикальное выравнивание содержимого по центру. */
    justify-content: center; /* Горизонтальное выравнивание по центру. */
    min-height: calc(100vh - 200px); /* Контейнер занимает всю высоту экрана за вычетом 200px. */
    position: relative; /* Определяет координаты относительно main. */
    padding-top: 10px; /* Отступ сверху. */
    padding-bottom: 15px; /* Отступ снизу. */
}

.gallery-container {
    width: 100%; /* Контейнер занимает всю ширину экрана. */
    display: flex; /* Используется для горизонтального выравнивания. */
    overflow-x: hidden; /* Прячем элементы, выходящие за границы по горизонтали. */
}

.gallery-scroll-wrapper {
    position: relative; /* Используется для корректного позиционирования дочерних элементов. */
    width: 100%; /* Обеспечивает использование всей доступной ширины. */
}

.gallery-scroll {
    display: grid; /* Используется грид-сетка для упорядочивания изображений. */
    grid-template-columns: repeat(19, 1fr); /* Сетка делится на 19 равных столбцов. */
    grid-template-rows: repeat(2, auto); /* 2 ряда: высота автоматически определяется содержимым. */
    overflow-x: auto; /* Включаем горизонтальную прокрутку. */
    -ms-overflow-style: none; /* Скрываем прокрутку для Internet Explorer. */
    scrollbar-width: none; /* Скрываем полосу прокрутки для Firefox. */
    padding: 15px; /* Добавляем внутренние отступы к элементу. */
    align-items: start; /* Ряд выравнивается по верхней стороне. */
    margin-top: 15px; /* Отступ сверху. */
    gap: 10px; /* Промежуток между элементами в сетке. */
    scroll-behavior: smooth; /* Плавная прокрутка для горизонтального скролла. */
    overscroll-behavior: contain; /* Запрещает автоматическую прокрутку за пределы ленты. */
}

.gallery-item {
    overflow: hidden; /* Обрезает содержимое, выходящее за границы элемента. */
    width: 400px; /* Фиксированная ширина кадра. */
    height: 400px; /* Фиксированная высота. */
    border-radius: 10px; /* Скруглённые углы. */
    transition: box-shadow 0.3s ease; /* Добавляет анимацию появления тени при наведении. */
    padding-bottom: 5px; /* Дополнительный внутренний отступ снизу. */
    align-items: flex-start; /* Контент внутри элемента выравнивается по верхнему краю. */
}

.gallery-link {
    display: block; /* Гарантирует, что ссылка занимает весь элемент. */
    width: 100%; /* Ширина ссылки равна ширине элемента. */
    height: 100%; /* Высота тоже равна высоте элемента. */
    text-decoration: none; /* Убираем подчёркивание у ссылки. */
    color: inherit; /* Используем цвет текста, унаследованный от родительского элемента. */
    transition: transform 0.3s ease; /* Добавляем плавную анимацию увеличения/уменьшения. */
}

.gallery-link:hover {
    transform: scale(1.05); /* При наведении элемент увеличивается на 5%. */
}

.gallery-link:active {
    transform: scale(0.95); /* При нажатии элемент уменьшается на 5%. */
}

.gallery-item img {
    width: 100%; /* Изображение занимает всю ширину родителя. */
    height: 100%; /* Высота подстраивается под родителя. */
    object-fit: cover; /* Изображение обрезается, чтобы соответствовать размерам контейнера. */
    border-radius: 10px; /* Скруглённые углы для изображения. */
    transition: box-shadow 0.3s ease; /* Если применяется тень, она появляется плавно. */

    /* Анимация появления изображения */
    opacity: 0; /* Изначально изображение невидимо. */
    animation: fadeIn 4s ease forwards; /* Плавное появление (4 секунды). */
}

@keyframes fadeIn {
    from { opacity: 0; } /* Начало: изображение полностью прозрачное. */
    to { opacity: 1; } /* Конец: изображение полностью видно. */
}

.photo-caption {
    text-align: left; /* Подписи выравниваются по левому краю. */
    color: #999; /* Светло-серый цвет текста под изображением. */
    margin: 5px 25px; /* Отступы для визуального разделения подписи с остальным контентом. */
    font-size: 0.9em; /* Размер текста чуть меньше стандартного текста. */
}

footer {
    display: flex; /* Используем флексбокс для выравнивания. */
    flex-direction: column; /* Элементы футера идут друг за другом вертикально. */
    align-items: center; /* Элементы выравниваются по центру. */
    padding: 0px; /* Убираем внутренние отступы. */
    color: #F2F2F2; /* Светлый цвет текста футера. */
    text-align: center; /* Текст выравнивается по центру. */
    margin-top: 30px; /* Футер располагается с отступом. */
    min-height: 50px; /* Минимальная высота футера. */
}

body::-webkit-scrollbar {
    width: 0; /* Убираем горизонтальную полосу прокрутки для браузера Chrome. */
}

/* Адаптация для мобильных устройств */

@media (max-width: 360px) {
    .gallery-item {
        width: 310px;
        height: 310px;
    }
    .home-link,
    .contacts-link {
        font-size: 12px; /* Уменьшаем шрифт ссылок */
    }
}

@media (min-width: 361px) and (max-width: 400px) {
    .gallery-item {
        width: 280px;
        height: 280px;
    }
    .home-link,
    .contacts-link {
        font-size: 12px; /* Уменьшаем шрифт ссылок */
    }
}

@media (min-width: 401px) and (max-width: 450px) {
    .gallery-item {
        width: 400px;
        height: 400px;
    }
    .home-link,
    .contacts-link {
        font-size: 15px; /* Уменьшаем шрифт ссылок */
    }
}

@media (min-width: 450px) and (max-width: 768px) {
    .gallery-item {
        width: 440px;
        height: 440px;
    }
    .home-link,
    .contacts-link {
        font-size: 15px; /* Уменьшаем шрифт ссылок */
    }
}

@media (min-width: 769px) and (max-width: 1000px) {
    .gallery-item {
        width: 520px;
        height: 520px;
    }
    .home-link,
    .contacts-link {
        font-size: 15px; /* Уменьшаем шрифт ссылок */
    }
}

@media (min-width: 1001px) and (max-width: 1024px) {
    .gallery-item {
        width: 610px;
        height: 610px;
    }
    .home-link,
    .contacts-link {
        font-size: 17px; /* Уменьшаем шрифт ссылок */
    }
}

@media screen and (min-width: 390px) and (max-width: 844px) and (-webkit-min-device-pixel-ratio: 3) {
    .gallery-item {
        width: 380px; /* Чуть меньше, чтобы элемент аккуратнее смотрелся */
        height: 380px;
    }
}
