body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #1A1A1A;
    color: #808080;
    overflow-y: scroll;
}

html {
    scroll-behavior: smooth;
}

.contacts-link,
.home-link {
    position: fixed;
    top: 3vh;
    color: #808080;
    text-decoration: none;
    font-weight: bold;
    z-index: 10;
}

.contacts-link {
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit;
    cursor: pointer;
}

.home-link {
    right: 100px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px);
    position: relative;
    padding-top: 0px;
    padding-bottom: 8vh;
}

.gallery-container {
    width: 100%;
    display: flex;
    overflow-x: hidden;
}

.gallery-scroll-wrapper {
    position: relative;
    width: 100%;
}

.gallery-scroll {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(2, auto);
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 1vh;
    align-items: start;
    margin-top: 6vh;
    gap: 2vw;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
}

.gallery-item {
    overflow: hidden;
    width: 40vh;
    height: auto;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    padding-bottom: 0px;
    align-items: flex-start;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    opacity: 0;
    animation: fadeIn 4s ease forwards;
}

.gallery-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}

.gallery-link:hover {
    transform: scale(1.05);
}

.gallery-link:active {
    transform: scale(0.95);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.photo-caption {
    text-align: left;
    color: #999;
    margin: 5px 25px;
    font-size: 0.9em;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.8);
    z-index: 1000;
    overflow: auto;
    justify-content: center;
    align-items: center;
    animation: fadeInModal 0.3s ease-out forwards;
}

.modal-content {
    position: relative;
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation: slideIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1.005) forwards;
    border-radius: 10px;
    color: #f2f2f2;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: #f2f2f2;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    transition: color 0.2s ease;
}

.close-button:hover,
.close-button:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.contact-info {
    text-align: center;
    line-height: 1.6;
}

/* Анимации */
@keyframes fadeInModal {
    from { opacity: 0; }
    to { opacity: 0.8; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

body::-webkit-scrollbar {
    width: 0;
}
