body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.portfolio-scroll {
    display: flex;
    overflow-x: auto;
    height: 85vh;
    scroll-behavior: smooth; /* Плавный скролл */
    -webkit-overflow-scrolling: auto; /* Отключаем инерцию */
    gap: 10px;
    padding: 0 calc(10px + env(safe-area-inset-right)) 0 calc(10px + env(safe-area-inset-left));
}

.portfolio-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-item img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
